<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="input-group">
        <div class="input-group-btn search-panel">
          <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span id="search_concept">Filter by</span>
          </button>-->
          <select   class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <option *ngFor="let value of values" (click)="select(value.value)">{{value.label}}</option>
          </select>
        </div>
        <input type="hidden" name="search_param" value="all" id="search_param">
        <input type="text" [(ngModel)]="searchParam" class="form-control" name="x" placeholder="Search term...">
        <span class="input-group-btn">
          <button (click)="searchForEmployee()" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div>
    </div>
  </div>
</div>


<div *ngIf="EmployeesArr?.length>0">
  <h3 class="border" style="font-family: sans-serif;color:darkgray;">Employees:</h3>

    <app-fetch-data [Employees]="EmployeesArr" [total]="EmployeesArr?.length"></app-fetch-data>

</div>
